<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<!--  <meta charset="UTF-8">-->
<!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
  <script src="../../api/picture.js"></script>
</head>
<body>
   <div class="dashboard-container" id="picture-app">
    <div class="container">
      <div class="tableBar">
        <el-input
          v-model="input"
          placeholder="请输入图片名称"
          style="width: 250px"
          clearable
          @keyup.enter.native="handleQuery"
        >
          <i
            slot="prefix"
            class="el-input__icon el-icon-search"
            style="cursor: pointer"
            @click="init"
          ></i>
        </el-input>
        <div class="tableLab">
          <span class="span-btn delBut non" @click="deleteHandle('批量', null)">批量删除</span>
          <span class="span-btn blueBug non" @click="statusHandle('1')">批量启用</span>
          <span style="border:none;" class="span-btn delBut non" @click="statusHandle('0')">批量禁用</span>
          <el-button
            type="primary"
            @click="addPicturetype('add')"
          >
            + 添加图片
          </el-button>
        </div>
      </div>
      <el-table
        :data="tableData"
        stripe
        class="tableBox"
        @selection-change="handleSelectionChange"
      >
        <el-table-column
          type="selection"
          width="25"
        ></el-table-column>
        <el-table-column v-if="false" prop="id" label="图片id"></el-table-column>
        <el-table-column prop="name" label="图片名称"></el-table-column>
        <el-table-column prop="image" label="图片" align="center">
          <template slot-scope="{ row }">
            <el-image style="width: auto; height: 40px; border:none;cursor: pointer;"
            :src="getImage(row.image)"
            :preview-src-list="[ `/common/download?name=${row.image}` ]" >
            <div slot="error" class="image-slot">
              <img src="./../../images/noImg.png"  style="width: auto; height: 40px; border:none;" >
            </div>
          </el-image>
          </template>
        </el-table-column>
        <el-table-column label="图片描述">
          <template slot-scope="scope">
            <el-popover
                    placement="top-start"
                    title="图片描述"
                    size="small"
                    trigger="hover">
              <p>{{scope.row.description}}</p>
              <el-button slot="reference" type="text">图片描述</el-button>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column prop="albumName" label="相册名">
          <template>{{ this.albumName }}</template>
        </el-table-column>
        <el-table-column
          v-if="false"
          prop="albumId"
          label="相册ID"
        ></el-table-column>
<!--        <el-table-column label="售价">-->
<!--          <template slot-scope="scope">-->
<!--            <span style="margin-right: 10px;">￥{{ scope.row.price/100 }}</span>-->
<!--          </template>-->
<!--        </el-table-column>-->
        <el-table-column label="图片状态">
          <template slot-scope="scope">
            <span style="margin-right: 10px;">{{ scope.row.status == '0' ? '禁用' : '启用' }}</span>
          </template>
        </el-table-column>
<!--        <el-table-column label="是否收藏">-->
<!--          <template slot-scope="scope">-->
<!--            <span style="margin-right: 10px;">{{ scope.row.isFavorite == '0' ? '未收藏' : '已收藏' }}</span>-->
<!--          </template>-->
<!--        </el-table-column>-->
        <el-table-column prop="updatedAt" label="最后操作时间"></el-table-column>

        <el-table-column
          label="操作"
          width="240"
          align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              class="blueBug"
              @click="addPicturetype(scope.row.id)"
            >
              修改
            </el-button>
<!--            <el-button-->
<!--              type="text"-->
<!--              size="small"-->
<!--              class="blueBug"-->
<!--              @click="editStatus(scope.row)"-->
<!--            >-->
<!--              {{ scope.row.status == '0' ? '启用' : '禁用' }}-->
<!--            </el-button>-->
            <el-button
                    type="text"
                    size="small"
                    class="blueBug"
                    @click="editFavorites(scope.row)"
            >
              {{ scope.row.isFavorite == '0' ? '收藏' : '取消收藏' }}
            </el-button>
            <el-button
              type="text"
              size="small"
              class="delBut non"
              @click="setDeleted(scope.row)"
            >
              删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        class="pageList"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="counts"
        @size-change="handleSizeChange"
        :current-page.sync="page"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../plugins/axios/axios.min.js"></script>
    <script src="../../js/request.js"></script>
    <script src="../../api/picture.js"></script>
   <script src="../../js/index.js"></script>
    <script>
      new Vue({
        el: '#picture-app',
        data() {
          return {
             input: '',
             counts: 0,
             page: 1,
             pageSize: 10,
             tableData : [],
             pictureState : '',
             checkList: [],
             albumName:'',
             albumId:''
          }
        },
        computed: {},
        created() {
          this.init()
        },
        mounted() {
        },
        methods: {
          async init () {
            this.albumName = decodeURI(requestUrlParam('albumName'))
            this.albumId = requestUrlParam('albumId')
            const params = {
              page: this.page,
              pageSize: this.pageSize,
              name: this.input ? this.input : undefined,
              albumId:this.albumId
            }
            await getPicturePage(params).then(res => {
              if (String(res.code) === '1') {
                this.tableData = res.data.records || []
                this.counts = res.data.total
              }
            }).catch(err => {
              this.$message.error('请求出错了：' + err)
            })
          },
          getImage (image) {
            return `/common/download?name=${image}`
          },
          handleQuery() {
            this.page = 1;
            this.init();
          },
          // 添加
          addPicturetype(st) {
            if (st === 'add'){
              window.parent.menuHandle({
                id: '4',
                url: encodeURI('/backend/page/picture/add.html?albumName='+this.albumName+'&albumId='+this.albumId),
                name: '添加图片'
              },true)
            } else {
              window.parent.menuHandle({
                id: '4',
                url: encodeURI('/backend/page/picture/add.html?id='+st+'&albumName='+this.albumName+'&albumId='+this.albumId),
                name: '修改图片'
              },true)
            }
          },
          setDeleted(row) {
            let params = {};
            params.id=row.id;
            alert(row.id)
            params.albumId=row.albumId;
            params.isDeleted=(row.isDeleted?0:1);
            params.status=0;//删除一定取消收藏
            // alert(row.id);
            this.$confirm('确认删除该图片, 是否继续?', '确定', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
            }).then(() => {
              editPicture(params);
              window.location.reload()
            })
          },
          // 删除
          deleteHandle (type, id) {
            if (type === '批量' && id === null) {
              if (this.checkList.length === 0) {
                return this.$message.error('请选择删除对象')
              }
            }
            this.$confirm('确认删除该图片, 是否继续?', '确定删除', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
            }).then(() => {
              deletePicture(type === '批量' ? this.checkList.join(',') : id).then(res => {
                if (res.code === 1) {
                  this.$message.success('删除成功！')
                  this.handleQuery()
                } else {
                  this.$message.error(res.msg || '操作失败')
                }
              }).catch(err => {
                this.$message.error('请求出错了：' + err)
              })
            })
          },
          editStatus(row) {
            let params = {};
            params.id=row.id;
            params.albumId=row.albumId;
            params.status=(row.status?0:1);
            // alert(row.id);
            this.$confirm('确认修改禁用状态, 是否继续?', '确定', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
            }).then(() => {
              editPicture(params);
              window.location.reload()
            })
          },
          editFavorites(row) {
            let params = {};
            params.id=row.id;
            params.albumId=row.albumId;
            params.isFavorite=(row.isFavorite?0:1);
            // alert(row.id);
            this.$confirm('确认修改收藏状态, 是否继续?', '确定', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
            }).then(() => {
              editPicture(params);
              window.location.reload();
            })
          },
          //状态更改
          statusHandle (row) {
            let params = {}
            if (typeof row === 'string' ) {
              if (this.checkList.length === 0) {
                this.$message.error('批量操作，请先勾选操作图片！')
                return false
              }
              params.id = this.checkList.join(',')
              params.status = row
            } else {
              params.id = row.id
              params.status = row.status ? '0' : '1'
            }
            this.pictureState = params
            this.$confirm('确认更改该图片状态?', '提示', {
              'confirmButtonText': '确定',
              'cancelButtonText': '取消',
              'type': 'warning'
            }).then(() => {
              // 起售停售---批量起售停售接口
              pictureStatusByStatus(this.pictureState).then(res => {
                if (res.code === 1) {
                  this.$message.success('图片状态已经更改成功！')
                  this.handleQuery()
                } else {
                  this.$message.error(res.msg || '操作失败')
                }
              }).catch(err => {
                  this.$message.error('请求出错了：' + err)
              })
            })
          },

          // 全部操作
          handleSelectionChange (val){
            let checkArr = []
            val.forEach((n) => {
              checkArr.push(n.id)
            })
            this.checkList = checkArr
          },
          handleSizeChange (val) {
            this.pageSize = val
            this.init()
          },
          handleCurrentChange (val) {
            this.page = val
            this.init()
          }
        }
      })
    </script>
</body>
</html>